{
  "parser": "babel-eslint",
  "extends": [
    "standard",
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-prototype-builtins": "off",
    "space-before-function-paren": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline"
    }]
  }
}
