extends:
  airbnb

env:
  es6: true
  node: true
  browser: true

parserOptions:
  sourceType: module

rules:
  quotes:
    - error
    - single
    - avoid-escape
  semi:
    - error
    - never
  comma-dangle:
    - error
    - never
  no-empty:
    - error
    - allowEmptyCatch: true
  no-use-before-define:
    - error
    - nofunc
  one-var:
    - off
  eqeqeq:
    - warn
    - smart
  no-unused-vars:
    - warn
  no-param-reassign:
    - warn
  no-cond-assign:
    - error
    - except-parens
  arrow-parens:
    - error
    - as-needed
  no-underscore-dangle:
    - off
  class-methods-use-this:
    - off
  arrow-body-style:
    - off
  padded-blocks:
    - off
  global-require:
    - off
